.land
    .land__left
        .land__logo
            img(src="./img/logo.png" alt="lopebet")
        .land__text
            .land__text-item(data-text="spin") #[span.land__text-item-content spin]
            .land__text-item(data-text="to get") #[span.land__text-item-content to get]
            .land__text-item(data-text="a bonus") #[span.land__text-item-content a bonus]
        .land__footer
            img(src="./img/footer.png" alt="lopebet")
    .land__wheel
        .land__wheel-sectors
        .land__wheel-border
        .land__wheel-btn
    .land__right
        picture
            source(media="(max-width: 600px)" srcset="./img/pers-mob.png")
            source(media="(max-width: 1050px)" srcset="./img/pers-tab.png")
            img(src="./img/pers.png" alt="lopebet")
    .popup-overlay._opacity
        .firstWin._opacity
            .firstWin__pers
                picture
                    source(media="(max-width: 600px)" srcset="./img/popups/popup-pers-mob.png")
                    img(src="./img/popups/popup-pers.png" alt="lopebet")
                .firstWin__buble
                    .firstWin__buble-text You're lucky
            .firstWin__main
                .firstWin__main-logo
                    picture
                        source(media="(max-width: 600px)" srcset="./img/popups/popup-logo-mob.png")
                        img(src="./img/popups/popup-logo.png" alt="lopebet")
                .firstWin__main-title You win
                .firstWin__main-prize(data-text="+700%") #[span.firstWin__main-prize-content +700%]
                .firstWin__main-text 1 more attempt left
            .firstWin__btn(data-text="spin more") #[span.firstWin__btn-content spin more]
        .secondWin._opacity
            .coin1.coin
            .coin2.coin
            .coin3.coin
            .coin4.coin
            .secondWin__pers
                picture
                    source(media="(max-width: 600px)" srcset="./img/popups/popup-pers-mob.png")
                    img(src="./img/popups/popup-pers.png" alt="lopebet")
                .secondWin__buble
                    .secondWin__buble-text great bonus
            .secondWin__main
                .secondWin__main-logo
                    picture
                        source(media="(max-width: 600px)" srcset="./img/popups/popup-logo-mob.png")
                        img(src="./img/popups/popup-logo.png" alt="lopebet")
                .secondWin__main-title You win
                .secondWin__main-prize
                    .secondWin__main-prize-item(data-text="700%") #[span.secondWin__main-prize-content 700%]
                    .secondWin__main-prize-item(data-text="500FS") #[span.secondWin__main-prize-content 500FS]
            .secondWin__btn(data-text="spin more") #[span.secondWin__btn-content spin more]